%p Welcome to the Home Page! 

%p This application is to help the Texas A&M Polo Club with making horse assignments for practices! 

// All of this needs to be reformatted with some sort of CSS
// This is just a prototype with bad styling

%b Team ToBeDetermined <br>
%b CSCE 606 Spring 2019 <br>
%b Team Members: 

%p
Jacob Fenger <br>
Joshua Crockett <br>
Whittney Ford <br>
Sharmistha Maity <br>
Sateendra Dey <br>
Shantanu Mandal <br>

